<div id="dashboard" class="page">
  <div class="divided title">
   SCHEDULE
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
          Overall Schedule:
        </div>

        <strong>
            Start putting ideas / forming teams in this website or on #hackathon now!
            <br/>
            <br/>
         12th Dec US / 13th December APAC - 1 hour meeting to present ideas and form teams
          <br/>
         20th Dec - Teams meet up and begin
          <br/>
          hack hack hack

          <br/>
          21st Dec Judging
        </strong>
          <div class="ui divider"></div>

          <div class="small title">
              Presentations:
          </div>
          <strong>
              2-7 minute presentations
          </strong>
          <div class="ui divider"></div>

          <div class="small title">
              Presentation day:
          </div>
          <strong>
              Wednesday afternoon APAC/AMER, presentations will be done to the local judges to choose finalists.
              <br/>
              These will be recorded so that everyone in engineering can learn all the amazing things build
              <br/>
              <br/>
              Thursday morning APAC time / Wed afternoon AMER time finalists will present to a company wide meeting.
              <br/>
              Judging will occur shortly after and announced over slack with recordings
          </strong>


      </div>

    </div>
  </div>
</div>
