<div id="dashboard" class="page">
  <div class="divided title">
   SCHEDULE
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
          Overall Schedule:
        </div>

        <strong>
         12th December - 1 hour meeting to present ideas to try join teams
          <br/>
         19th Dec - Teams meet up and begin
          <br/>
          hack hack hack

          <br/>
          21st Dec Judging
        </strong>
          <div class="ui divider"></div>

          <div class="small title">
              Presentations:
          </div>
          <strong>
              2-7 minute presentations
          </strong>
          <div class="ui divider"></div>

          <div class="small title">
              Presentation day:
          </div>
          <strong>
              TBD
          </strong>


      </div>

    </div>
  </div>
</div>
