<div id="dashboard" class="page">
  <div class="divided title">
   SCHEDULE
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
          Overall Schedule:
        </div>

        <strong>
            Start putting ideas / forming teams in this website or on #hackathon now!
            <br/>
            <br/>
          12th Dec US 5pm / 13th December APAC 9am - 1 hour meeting to present ideas and form teams
          <br/>
          19th Dec US 5pm / 20th December APAC 9am - Kick off! Teams meet and organise
            <br/>
            <br/>
            Hack Hack Hack<br/>
            <img src="https://media.giphy.com/media/QNFhOolVeCzPQ2Mx85/giphy.gif"/>

          <br/>
            <br/>
          22nd Dec Judging preliminary judging
        <br/>
            22nd Dec US 5pm / 23rd December APAC 9am - Final judging and prizes
        </strong>
          <div class="ui divider"></div>

          <div class="small title">
              Presentations:
          </div>
          <strong>
              2-7 minute presentations
          </strong>
          <div class="ui divider"></div>

          <div class="small title">
              Presentation day:
          </div>
          <strong>
              Wednesday afternoon APAC/AMER, presentations will be done to the local judges to choose finalists.
              <br/>
              These will be recorded so that everyone in engineering can learn all the amazing things build
              <br/>
              <br/>
              Thursday morning APAC time / Wed afternoon AMER time finalists will present to a company wide meeting.
              <br/>
              Judging will occur shortly after and announced over slack with recordings
          </strong>


      </div>

    </div>
  </div>
</div>
