<div id="dashboard" class="page">
  <div class="divided title">
   VHS HACKATHON 2022
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
          About:
        </div>
          </br>

        <strong>
         Its a hackathon yo!
        </strong>
          <div class="ui divider"></div>

          <div class="small title">
              Rules:
          </div>
          </br>
          <strong>
              No rules yet. Go nuts!
          </strong>
          <div class="ui divider"></div>

          <div class="small title">
              Judging:
          </div>
          </br>
          <strong>
              TBD
          </strong>


      </div>

    </div>
  </div>
</div>
