<div id="dashboard" class="page" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="divided title">
   VHS HACKATHON 2022
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
          About:
        </div>
          </br>

        <strong>
          A hackathon is an event where people engage in rapid and collaborative engineering over a relatively short period of time<br/>

          The goal of a hackathon is to create functioning software or hardware by the end of the event and present it.</br></br>
          If you found this, you are probably already in the #hackathon slack channel. </br>If not please join.</br>
          If you need any help finding/forming the team, or help on the day.. or want to bounce your ideas, ask about our current system, talk architecture.. thats a good place to start</br>

        </strong>

        <div class="ui divider"></div>

        <div class="small title">
          Theme of this hackathon:
        </div></br>
        <strong>
          As this is the companies first hackathon - we are not setting a specific goal or theme. Build whatever you want to build. </br></br>Use whatever technology you want to use.
          <br/>
          Fix something that makes dev lives better.. </br>a quick win for customers.. </br>an amazing new technology that you think could be cool.. </br>a new product feature.
        </strong>

        <div class="ui divider"></div>

        <div class="small title">
          Why have a hackathon?
        </div></br>
        <strong>
          <div class="ui bulleted list">
            <div class="item">A chance to work with people you normally wouldn't.</div>
            <div class="item">An opportunity to learn something new.</div>
            <div class="item">Space and a time to make headway on problems you are interested in.</div>
            <div class="item">A chance to showcase what others may not know is possible.</div>
          </div>

          We believe its important to share learnings. If you participate in the hackathon, we encourage everyone to present.</br>
          Even if the demo is not functioning, you likely learned a new technology or learned something that didnt work. </br>
          Please present anyway

          </br>
          TBC: We want everyone energized for this hackathon - so we will be organising uber eats vouchers for all participants (will be sent to those who register!)
        </strong>
          <div class="ui divider"></div>

          <div class="small title">
              Rules:
          </div>
          </br>
          <strong>
              - Max team size 3 people (we only have so many prizes to hand out)
          </strong>
          <div class="ui divider"></div>

          <div class="small title">
              Judging:
          </div>
          </br>
          <strong>
            A hackathon isn't all about prizes and winning. Work on what makes you interested.. maybe we will find it interesting too.</br>
            </br>
            </br>
            Qualifying presentation rounds will be run in each region (judged by Jeff and Arnaud, Allan and Ab in APAC)</br>
            Final round presentations will judged in 3 categories:</br>
            <div class="ui bulleted list">
              <div class="item">Best potential roadmap project.. what do product think they could turn into something that we should build in the near future? Judged by Facundo</div>
              <div class="item">Best shippable project.. what could go live tomorrow and have immediate impact? Judged by Allan</div>
              <div class="item">Best technology.. what was built with cool tech that could make a huge impact? Judged by Eugene</div>
            </div>
            </br>
            Prizes:</br>
            Harrys got some swaaaaag for the winners.</br>
            More importantly, you will have had a chance to showcase your amazing ideas and work!
          </strong>


      </div>

    </div>
  </div>
</div>
